# References

## UDACITY

4. Data Wrangling With MongoDB

LESSON 5 DATA QUALITY

8. Example Using our Blueprint

https://classroom.udacity.com/nanodegrees/nd002-airbus/parts/35305c70-58f5-4614-b7d6-302fa3f916a3/modules/2166796a-7560-4387-ac5e-c6a4b8d2d61c/lessons/699689362/concepts/7796785460923


python syntax

https://developer.rhino3d.com/guides/rhinopython/python-statements/


reads file

https://www.w3schools.com/python/python_file_open.asp


Db size

https://stackoverflow.com/questions/6364577/how-to-get-the-current-sqlite-database-size-or-package-size-in-android


SQLite 3



https://stackoverflow.com/questions/46028456/import-csv-files-into-sql-database-using-sqlite-in-python



https://stackoverflow.com/questions/19472922/reading-external-sql-script-in-python


https://stackoverflow.com/questions/2887878/importing-a-csv-file-into-a-sqlite3-database-table-using-python


https://stackoverflow.com/questions/30927802/retrieve-value-from-a-fetchone-call-in-python-3


SQL

(FR)
https://www.sqlfacile.com/apprendre_bases_de_donnees/count_et_group_by


## NOTA

As a python beginner, I put details I discovered learning on the documentation, tutorials, projects and trials in order to refer to my own work afterwards.

# CSV & OSM file size

Code is pretty straight forward

In [150]:
import os


NODES_PATH = "csv/nodes.csv"
NODE_TAGS_PATH = "csv/nodes_tags.csv"
WAYS_PATH = "csv/ways.csv"
WAY_NODES_PATH = "csv/ways_nodes.csv"
WAY_TAGS_PATH = "csv/ways_tags.csv"

print("XML Data","\n")
print("map.osm :",round(os.stat("data/map.osm").st_size/1024/1024),"Mo")
print("data/small_sample_map.osm :",round(os.stat("data/small_sample_map.osm").st_size/1024/1024),"Mo")
print("\n")
print("CSV Data","\n")
print(NODES_PATH," :",round(os.stat(NODES_PATH).st_size/1024/1024),"Mo")
print(NODE_TAGS_PATH," :",round(os.stat(NODE_TAGS_PATH).st_size/1024/1024),"Mo")
print(WAYS_PATH," :",round(os.stat(WAYS_PATH).st_size/1024/1024),"Mo")
print(WAY_NODES_PATH," :",round(os.stat(WAY_NODES_PATH).st_size/1024/1024),"Mo")
print(WAY_TAGS_PATH," :",round(os.stat(WAY_TAGS_PATH).st_size/1024/1024),"Mo")

XML Data

map.osm : 85 Mo
data/small_sample_map.osm : 7 Mo


CSV Data

csv/nodes.csv  : 26 Mo
csv/nodes_tags.csv  : 1 Mo
csv/ways.csv  : 3 Mo
csv/ways_nodes.csv  : 11 Mo
csv/ways_tags.csv  : 8 Mo

# SQL Database creation, import of data, data check  

SQL coding is way more easy than the iterative parsing and the CSV exportation.  
We create or open a database, we use the cursor to input command and to get output.

In [3]:
#
# Final
#
#!/usr/bin/env python
# -*- coding: utf-8 -*-
from pprint import pprint
import sqlite3
import csv
import pandas as pd


def main():

    #con = sqlite3.connect("database") # change to 'sqlite:///your_filename.db'
    con = sqlite3.connect(":memory:") # change to 'sqlite:///your_filename.db'
    cur = con.cursor()
    
    
    data_wrangling_schemaScript = open("data_wrangling_schema.sql", 'r')
    scripts = data_wrangling_schemaScript.read()
    data_wrangling_schemaScript.close()

    # all SQL commands (split on ';')
    tableCreations = scripts.split(';')

    # Execute every command from the input file
    for table in tableCreations:
        #print(table)
        cur.execute(table)
    
    con.commit()
    
    #Import CSV to sqlite database in two line !
    df = pd.read_csv("csv/nodes.csv")
    df.to_sql("nodes", con, if_exists='append', index=False)
    
    df = pd.read_csv("csv/nodes_tags.csv")
    df.to_sql("nodes_tags", con, if_exists='append', index=False)
    
    df = pd.read_csv("csv/ways.csv")
    df.to_sql("ways", con, if_exists='append', index=False)
    
    df = pd.read_csv("csv/ways_tags.csv")
    df.to_sql("ways_tags", con, if_exists='append', index=False)
    
    df = pd.read_csv("csv/ways_nodes.csv")
    df.to_sql("ways_nodes", con, if_exists='append', index=False)

#queries to do
#-size of the file
#-number of unique users
#-number of nodes and ways
#-number of chosen type of nodes, like cafes, shops etc.
#Request with a jointure

    
    print("Database Size")
    query = "SELECT page_count * page_size as size \
            FROM pragma_page_count(), pragma_page_size();"
    cur.execute(query)
    rows=cur.fetchone()
    print(round(rows[0]/1024/1024)," Mo")

    print("\n")
    
    print("Unique USERS")
    query = "SELECT COUNT(distinct(uid)) \
            FROM \
                (SELECT uid \
                FROM nodes \
                    UNION ALL \
                SELECT uid \
                FROM ways);"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)
    

    print("\n")   
    
    print("Number of WAYS")
    query = "SELECT COUNT(*) \
            FROM ways;"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)
    
    
    print("\n")   
    
    print("Number of NODES")
    query = "SELECT COUNT(*) \
            FROM nodes;"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)

    
    print("\n")   
    
    print("Count types of nodes")
    query = "SELECT type,count(*) \
            FROM nodes_tags \
            group by type;"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)

   
    print("\n")   
    
    print("Count keys of nodes")
    query = "SELECT key,count(*) \
            FROM nodes_tags \
            group by key;"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)



    print("\n")   
    
    print("School and jointure, get who added schools and the postcode of schools")
    query = "SELECT nodes.user, nodes.id, nodes_tags.value \
            FROM nodes, nodes_tags \
            WHERE nodes.id = nodes_tags.id \
            AND nodes_tags.type ='school'"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)

    
    print("\n")   
    
    print("Postcode analysis")
    query = "SELECT value, count(*) \
            FROM nodes_tags \
            WHERE key = 'postcode' \
            group by value;"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)
    


    print("\n")   
    
    print("Top 10 amenity")
    query = "SELECT value, COUNT(*) as num \
            FROM nodes_tags \
            WHERE key='amenity' \
            GROUP BY value \
            ORDER BY num DESC \
            LIMIT 10;"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)

  
    
    print("\n")   
    
    print("Restaurant type")
    query = "SELECT value,count(*) as num \
            FROM \
                (SELECT key,value \
                FROM nodes_tags \
                    UNION ALL \
                SELECT key,value \
                FROM ways_tags) as allTags \
                WHERE allTags.key like 'cuisine' \
            GROUP BY value \
            ORDER BY num desc limit 20;"
  
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)
    
    
    con.close() 


           
      
    
if __name__ == "__main__":
    main()

Database Size
43  Mo


Unique USERS
[(393,)]


Number of WAYS
[(58953,)]


Number of NODES
[(352867,)]


Count types of nodes
[('access', 1),
 ('addr', 900),
 ('authentication', 3),
 ('beacon', 6),
 ('brand', 111),
 ('capacity', 2),
 ('change', 1),
 ('charging_station', 1),
 ('cinema', 1),
 ('communication', 1),
 ('community_centre', 1),
 ('contact', 65),
 ('crossing', 1),
 ('currency', 5),
 ('dance', 1),
 ('deaf', 1),
 ('defibrillator', 1),
 ('drink', 2),
 ('fire_hydrant', 17),
 ('fuel', 22),
 ('generator', 9),
 ('healthcare', 4),
 ('heritage', 4),
 ('hgv', 4),
 ('level_crossing', 1),
 ('location', 8),
 ('mhs', 3),
 ('monitoring', 1),
 ('name', 21),
 ('note', 1),
 ('opening_hours', 7),
 ('operator', 9),
 ('payment', 28),
 ('police', 3),
 ('post_office', 1),
 ('public_bookcase', 1),
 ('recording', 1),
 ('recycling', 182),
 ('ref', 120),
 ('regular', 9873),
 ('school', 29),
 ('social_facility', 3),
 ('socket', 6),
 ('source', 21),
 ('species', 1),
 ('summit', 1),
 ('surveillance', 2),
 ('survey', 1),
 ('swing_gate', 8),
 ('takeaway', 1),
 ('telecom', 1),
 ('toilets', 6),
 ('tower', 4),
 ('traffic_sign', 1),
 ('traffic_signals', 1),
 ('type', 2),
 ('voltage', 7),
 ('water_tank', 2)]


Count keys of nodes
[('3D', 1),
 ('EU:EVSE', 1),
 ('FR', 32),
 ('FR:Allocine', 1),
 ('FR:CNC', 2),
 ('FR:FANTOIR', 42),
 ('FR:FINESS', 21),
 ('FR:GendarmerieNationale', 2),
 ('FR:GeoDAE', 1),
 ('FR:LaPoste', 5),
 ('FR:SIREN', 6),
 ('FR:SIRET', 7),
 ('FR:prix-carburants', 6),
 ('PET', 1),
 ('RFF:ligne', 1),
 ('UAI', 24),
 ('XLT', 5),
 ('XLT-ROUE', 1),
 ('access', 32),
 ('address', 3),
 ('advertising', 10),
 ('aeroway', 4),
 ('air_conditioning', 6),
 ('airmark', 2),
 ('alcohol', 1),
 ('alt_name', 1),
 ('amenity', 450),
 ('amperage', 1),
 ('app', 1),
 ('artist_name', 1),
 ('artwork_type', 3),
 ('atm', 12),
 ('automated', 1),
 ('backrest', 57),
 ('bar', 1),
 ('barrier', 180),
 ('beauty', 1),
 ('bench', 56),
 ('beverage_cartons', 1),
 ('bicycle', 51),
 ('bicycle_parking', 24),
 ('board_type', 1),
 ('bollard', 1),
 ('brand', 66),
 ('building', 1),
 ('bulk_purchase', 2),
 ('bus', 97),
 ('ca', 1),
 ('cadastre', 1),
 ('cans', 25),
 ('capacity', 35),
 ('cardboard', 6),
 ('cartons', 16),
 ('cash', 6),
 ('cash:XLT-ROUE', 5),
 ('chademo', 1),
 ('chademo:output', 1),
 ('channel', 1),
 ('city', 116),
 ('clothes', 9),
 ('code', 1),
 ('collection_times', 1),
 ('colour', 3),
 ('compressed_air', 4),
 ('copy_facility', 3),
 ('count', 1),
 ('country', 20),
 ('couplings', 1),
 ('covered', 13),
 ('covid19', 9),
 ('craft', 1),
 ('created_by', 40),
 ('credit_cards', 7),
 ('cross', 1),
 ('crossing', 103),
 ('crossing_ref', 91),
 ('cuisine', 19),
 ('date', 1),
 ('debit_cards', 2),
 ('delivery', 2),
 ('denomination', 3),
 ('departures_board', 7),
 ('description', 109),
 ('description:fr', 1),
 ('diameter', 3),
 ('diesel', 6),
 ('direction', 22),
 ('disabled', 2),
 ('dispensing', 16),
 ('display', 1),
 ('disposal', 2),
 ('drinking_water', 3),
 ('drive_through', 6),
 ('e10', 6),
 ('e85', 1),
 ('ele', 63),
 ('electrical_appliances', 1),
 ('email', 5),
 ('emergency', 78),
 ('en', 1),
 ('enforcement', 2),
 ('entrance', 11),
 ('exit_to', 3),
 ('facebook', 6),
 ('fax', 4),
 ('fee', 15),
 ('fixme', 8),
 ('foot', 55),
 ('for', 4),
 ('ford', 3),
 ('forward', 1),
 ('fr', 2),
 ('frequency', 10),
 ('genus', 5),
 ('glass', 12),
 ('glass_bottles', 24),
 ('government', 2),
 ('healthcare', 9),
 ('height', 38),
 ('heritage', 7),
 ('highway', 726),
 ('historic', 37),
 ('horse', 9),
 ('housenumber', 557),
 ('image', 3),
 ('indoor', 3),
 ('information', 17),
 ('inscription', 1),
 ('inscription_date', 3),
 ('is_in', 1),
 ('island', 1),
 ('kerb', 2),
 ('landuse', 1),
 ('lanes', 4),
 ('layer', 2),
 ('leaf_cycle', 6),
 ('leaf_type', 10),
 ('leisure', 43),
 ('level', 2),
 ('light_source', 2),
 ('line_attachment', 3),
 ('line_management', 1),
 ('lit', 5),
 ('local_ref', 2),
 ('location', 10),
 ('lottery', 1),
 ('lpg', 3),
 ('magazines', 2),
 ('man_made', 85),
 ('map_type', 1),
 ('mapillary', 3),
 ('mastercard', 4),
 ('material', 21),
 ('maxspeed', 8),
 ('medium', 1),
 ('membership_card', 1),
 ('meteoric_activity', 1),
 ('method', 3),
 ('mhs', 3),
 ('mobile', 1),
 ('mobile_phone', 1),
 ('motor_vehicle', 22),
 ('motorcar', 10),
 ('motorcycle', 3),
 ('name', 582),
 ('name:oc', 17),
 ('natural', 785),
 ('network', 70),
 ('newspaper', 2),
 ('nfc', 1),
 ('noexit', 18),
 ('noname', 2),
 ('note', 83),
 ('oc', 17),
 ('octane_98', 6),
 ('office', 21),
 ('official_name', 7),
 ('opening_hours', 54),
 ('operator', 877),
 ('organic', 4),
 ('outdoor_seating', 9),
 ('output', 1),
 ('output:electricity', 3),
 ('owner', 1),
 ('packaging', 1),
 ('paper', 33),
 ('parking', 14),
 ('phases', 8),
 ('phone', 76),
 ('pipeline', 3),
 ('place', 79),
 ('plastic', 4),
 ('plastic_bottles', 20),
 ('plastic_packaging', 22),
 ('position', 4),
 ('postcode', 106),
 ('power', 1118),
 ('primary', 2),
 ('public_transport', 101),
 ('railway', 6),
 ('recording', 1),
 ('recycling_type', 44),
 ('ref', 211),
 ('religion', 5),
 ('ru', 1),
 ('screen', 1),
 ('secondary', 5),
 ('shelter', 58),
 ('shelter_type', 11),
 ('shoes', 1),
 ('shop', 131),
 ('side', 1),
 ('smoking', 2),
 ('social_facility', 3),
 ('source', 2204),
 ('source_id', 4),
 ('speciality', 4),
 ('species', 6),
 ('sport', 15),
 ('stairs', 1),
 ('stamping_machine', 4),
 ('stars', 1),
 ('start_date', 1),
 ('street', 130),
 ('supervised', 1),
 ('surface', 5),
 ('surveillance', 1),
 ('switch', 9),
 ('tactile_paving', 35),
 ('takeaway', 5),
 ('teaching', 1),
 ('telecom', 1),
 ('toilets', 2),
 ('tourism', 50),
 ('tower', 2),
 ('traffic_calming', 64),
 ('traffic_sign', 16),
 ('train', 2),
 ('transformer', 5),
 ('transition', 8),
 ('twitter', 3),
 ('type', 35),
 ('type2', 1),
 ('type2:output', 1),
 ('type2_combo', 1),
 ('type2_combo:output', 1),
 ('type:RFF', 1),
 ('unisex', 2),
 ('url', 69),
 ('utility', 1),
 ('valve', 3),
 ('vending', 5),
 ('vending_machine', 5),
 ('visa', 4),
 ('volume', 2),
 ('wall', 1),
 ('waste', 6),
 ('waste_basket', 6),
 ('water', 1),
 ('water_source', 1),
 ('webcam', 1),
 ('website', 52),
 ('wheelchair', 30),
 ('wifi', 1),
 ('wikidata', 72),
 ('wikipedia', 50),
 ('wine', 2),
 ('zone', 1)]


School and jointure, get who added schools and the postcode of schools
[('fk13', 309440247, 'élémentaire'),
 ('zerpou', 436388286, 'collège'),
 ('Olyon', 438084151, 'collège'),
 ('MatthieuMartin', 438084152, 'collège'),
 ('Jepau', 898995095, 'primaire'),
 ('fk13', 2588511587, 'élémentaire'),
 ('Eric V', 3138307632, 'lycée'),
 ('zerpou', 3620338618, 'maternelle'),
 ('zerpou', 3620371793, 'maternelle'),
 ('zerpou', 3620371794, 'élémentaire'),
 ('zerpou', 3620371795, 'élémentaire'),
 ('Tatooland', 3620401840, 'collège'),
 ('zerpou', 3620401843, 'SECTION ENSEIGNT GEN. ET PROF. ADAPTE'),
 ('zerpou', 3620401872, 'maternelle'),
 ('zerpou', 3620401873, 'élémentaire'),
 ('zerpou', 3620401874, 'élémentaire'),
 ('jseigneuret', 3623175238, 'primaire'),
 ('fk13', 3623219237, 'maternelle'),
 ('fk13', 3623219238, 'maternelle'),
 ('fk13', 3623219239, 'élémentaire'),
 ('fk13', 3623219244, 'élémentaire'),
 ('fk13', 3703121488, 'maternelle'),
 ('Eric V', 3740078666, 'lycée'),
 ('nivram117', 3740080461, 'maternelle'),
 ('Tatooland', 4907726506, 'maternelle'),
 ('Syl', 6917948942, 'maternelle'),
 ('Syl', 6917948943, 'élémentaire'),
 ('Tatooland', 7397399642, 'collège'),
 ('Tatooland', 7916291041, 'lycée professionnel')]


Postcode analysis
[('13121', 1),
 ('13300', 66),
 ('13330', 27),
 ('13430', 1),
 ('13450', 4),
 ('13680', 7)]


Top 10 amenity
[('bench', 66),
 ('recycling', 54),
 ('parking', 46),
 ('waste_basket', 28),
 ('school', 28),
 ('restaurant', 27),
 ('bicycle_parking', 24),
 ('pharmacy', 16),
 ('bank', 13),
 ('shelter', 11)]


Restaurant type
[('pizza', 6),
 ('burger', 5),
 ('sushi', 3),
 ('french', 3),
 ('turkish', 1),
 ('steak_house', 1),
 ('rotisserie', 1),
 ('regional', 1),
 ('italian', 1),
 ('french;local', 1),
 ('cuisine_traditionnelle,_grillades_pizza_au_feu_de_bois', 1),
 ('crepe', 1),
 ('brasserie', 1),
 ('arab', 1)]

# For test purpose only

In [119]:
#
# TEst !
#
#!/usr/bin/env python
# -*- coding: utf-8 -*-
from pprint import pprint
import sqlite3
import csv
import pandas as pd

NODES_PATH = "csv_test/nodes.csv"
NODE_TAGS_PATH = "csv_test/nodes_tags.csv"
WAYS_PATH = "csv_test/ways.csv"
WAY_NODES_PATH = "csv_test/ways_nodes.csv"
WAY_TAGS_PATH = "csv_test/ways_tags.csv"

"""
NODES_PATH = "csv/nodes.csv"
NODE_TAGS_PATH = "csv/nodes_tags.csv"
WAYS_PATH = "csv/ways.csv"
WAY_NODES_PATH = "csv/ways_nodes.csv"
WAY_TAGS_PATH = "csv/ways_tags.csv"
"""

#Reminder TABLES
"""
nodes
nodes_tags
ways
ways_tags
ways_nodes
"""

def main():

    con = sqlite3.connect(":memory:") # change to 'sqlite:///your_filename.db'
    cur = con.cursor()
   
    data_wrangling_schemaScript = open("data_wrangling_schema.sql", 'r')
    scripts = data_wrangling_schemaScript.read()
    data_wrangling_schemaScript.close()

    # all SQL commands (split on ';')
    tableCreations = scripts.split(';')

    # Execute every command from the input file
    for table in tableCreations:
        #print(table)
        cur.execute(table)
    
    con.commit()
    
    df = pd.read_csv("csv_test/nodes.csv")
    df.to_sql("nodes", con, if_exists='append', index=False)
    
    df = pd.read_csv("csv_test/nodes_tags.csv")
    df.to_sql("nodes_tags", con, if_exists='append', index=False)
    
    df = pd.read_csv("csv_test/ways.csv")
    df.to_sql("ways", con, if_exists='append', index=False)
    
    df = pd.read_csv("csv_test/ways_tags.csv")
    df.to_sql("ways_tags", con, if_exists='append', index=False)
    
    df = pd.read_csv("csv_test/ways_nodes.csv")
    df.to_sql("ways_nodes", con, if_exists='append', index=False)

    print("NODES")
    query = "SELECT *  FROM nodes LIMIT 3"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)

    print("NODES TAGS")
    query = "SELECT *  FROM nodes_tags LIMIT 3"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)

    print("WAYS")
    query = "SELECT *  FROM ways LIMIT 3"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)
    
    print("WAYS TAGS")
    query = "SELECT *  FROM ways_tags LIMIT 3"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)

    print("WAYS NODES")
    query = "SELECT *  FROM ways_nodes LIMIT 3"
    cur.execute(query)
    rows=cur.fetchall()
    pprint(rows)

    
    
    """
    query = "SELECT *  FROM t"
    cur.execute(query)
    rows=cur.fetchall()

    pprint(rows)
    """
    
    
    
    
    con.close()
    
if __name__ == "__main__":
    main()

NODES
[(26410421,
  43.6263843,
  5.1183026,
  'Patchi',
  591881,
  5,
  13093252,
  '2012-09-13T14:01:34Z'),
 (26410422,
  43.6264126,
  5.1191013,
  'lecafou',
  337393,
  6,
  16391749,
  '2013-06-02T13:55:29Z'),
 (34029228,
  43.624489700000005,
  5.0774541,
  'krysst',
  16038,
  6,
  11850320,
  '2012-06-10T01:47:34Z')]
NODES TAGS
[(34555332, 'crossing', 'uncontrolled', 'regular'),
 (34555332, 'crossing_ref', 'zebra', 'regular'),
 (34555332, 'highway', 'crossing', 'regular')]
WAYS
[(24444913, 'RatZillaS', 24207, '10', 10050673, '2011-12-06T15:05:23Z'),
 (24444916, 'Porphyrion', 706159, '11', 51873137, '2017-09-09T09:05:43Z'),
 (24444927, 'JLZIMMERMANN', 188930, '12', 66509712, '2019-01-21T16:13:41Z')]
WAYS TAGS
[(24444913, 'highway', 'tertiary', 'regular'),
 (24444913, 'oneway', 'yes', 'regular'),
 (24444913, 'ref', 'D 68', 'regular')]
WAYS NODES
[(24444913, 265673176, 0), (24444913, 265673200, 1), (24444913, 265673199, 2)]

In [3]:
#For test purpose only
con = sqlite3.connect("DB") # change to 'sqlite:///your_filename.db'
con.close()

In [94]:
#
# Test !
#
#!/usr/bin/env python
# -*- coding: utf-8 -*-
from pprint import pprint
import pandas as pd
import sqlite3
import csv
import logging

"""
OSM_PATH = 'data/small_sample_map.osm'

NODES_PATH = "csv_test/nodes.csv"
NODE_TAGS_PATH = "csv_test/nodes_tags.csv"
WAYS_PATH = "csv_test/ways.csv"
WAY_NODES_PATH = "csv_test/ways_nodes.csv"
WAY_TAGS_PATH = "csv_test/ways_tags.csv"
"""

OSM_PATH = 'data/map.osm'

NODES_PATH = "csv/nodes.csv"
NODE_TAGS_PATH = "csv/nodes_tags.csv"
WAYS_PATH = "csv/ways.csv"
WAY_NODES_PATH = "csv/ways_nodes.csv"
WAY_TAGS_PATH = "csv/ways_tags.csv"



def main():

    con = sqlite3.connect(":memory:") # change to 'sqlite:///your_filename.db'
    cur = con.cursor()
    cur.execute("CREATE TABLE t (col1, col2);")
    
    
    #with open('data.csv','r') as fin: # `with` statement available in 2.5+
    ## csv.DictReader uses first line in file for column headings by default
    #dr = csv.DictReader(fin) # comma is default delimiter
    #to_db = [(i['col1'], i['col2']) for i in dr]

    #cur.executemany("INSERT INTO t (col1, col2) VALUES (?, ?);", to_db)
    cur.execute("INSERT INTO t (col1, col2) VALUES ('Aaaaaaaaaaaaaaaaaaaaaaaaaaaaa', '1');")
    cur.execute("INSERT INTO t (col1, col2) VALUES ('Bbbbbbbbbbbbbbbbbbbbbbbbbbbbb', '2');")
    cur.execute("INSERT INTO t (col1, col2) VALUES ('Ccccccccccccccccccccccccccccc', '3');")
    con.commit()
    
    
    query = "SELECT *  FROM t"
    cur.execute(query)
    rows=cur.fetchall()

    pprint(rows)
    
    
    
    
    
    con.close()
    
if __name__ == "__main__":
    main()

NameError: name 'executeScriptsFromFile' is not defined

In [ ]:
#Reminder of project 
"""

CREATE TABLE nodes (
    id INTEGER PRIMARY KEY NOT NULL,
    lat REAL,
    lon REAL,
    user TEXT,
    uid INTEGER,
    version INTEGER,
    changeset INTEGER,
    timestamp TEXT
);

CREATE TABLE nodes_tags (
    id INTEGER,
    key TEXT,
    value TEXT,
    type TEXT,
    FOREIGN KEY (id) REFERENCES nodes(id)
);

CREATE TABLE ways (
    id INTEGER PRIMARY KEY NOT NULL,
    user TEXT,
    uid INTEGER,
    version TEXT,
    changeset INTEGER,
    timestamp TEXT
);

CREATE TABLE ways_tags (
    id INTEGER NOT NULL,
    key TEXT NOT NULL,
    value TEXT NOT NULL,
    type TEXT,
    FOREIGN KEY (id) REFERENCES ways(id)
);

CREATE TABLE ways_nodes (
    id INTEGER NOT NULL,
    node_id INTEGER NOT NULL,
    position INTEGER NOT NULL,
    FOREIGN KEY (id) REFERENCES ways(id),
    FOREIGN KEY (node_id) REFERENCES nodes(id)
);

"""